@tailwind base;
@tailwind components;
@tailwind utilities;
html{scroll-behavior: smooth;}
body {
    overflow-y: scroll;
}

/* globals.css or any global stylesheet */
:root {
    --background: #FBEBE8;
    --pink: #FBEBE8;
    --blue: #829ab1;
    --yellow: #bcccdc;
    --text: #f0f4f8;
  }
  